* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #434450;
  font-size: 14px;
  line-height: 1.3;
  transition: all 0.3s ease 0s;
}
body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  width: 235px;
  display: inline-block;
  padding: 20px 0;
  font-size: 20px;
  color: #6e6e6e;
  font-weight: 600;
  text-align: center;
  background-color: #ececec;
  box-shadow: 0px 5px 40px 0 rgba(180, 180, 180, 0.8);
  transition: all 0.3s ease 0s;
}
.button_form {
  width: 100%;
  font-size: 14px;
  padding: 12px 0;
  color: #6E6E6E;
}
.button:hover {
  color: #6e6e6e;
  background-color: #c8c8c8;
  box-shadow: 0px 5px 40px 0 rgba(180, 180, 180, 0.8);
}

.title {
  margin: 0px 0px 30px 0px;
  font-size: 24px;
  color: #263238;
  font-weight: 600;
}
@media (max-width: 565px) {
  .title {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
  }
}

.text {
  font-size: 22px;
  color: #434450;
}
@media (max-width: 565px) {
  .text {
    font-size: 14px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 45px;
  height: 45px;
}
.logo__text {
  margin: 0px 0px 0px 30px;
  font-size: 14px;
  color: #263238;
}
@media (max-width: 565px) {
  .logo__text {
    margin: 0px 0px 0px 20px;
    font-size: 10px;
  }
}

.header {
  background-color: transparent;
  padding: 20px 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #E9E8E8;
  transition: all 0.3s ease 0s;
}

.main {
  padding: 135px 0px 60px 0px;
  background-color: #f8f7f7;
}
.main__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .main__body {
    flex-direction: column;
    justify-content: center;
  }
}
.main__content {
  flex: 0 0 469px;
}
@media (max-width: 800px) {
  .main__content {
    flex: 0 1 100%;
    padding: 0px 0px 15px 0px;
  }
}
.main__subtitle {
  margin: 0px 0px 15px 0px;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .main__subtitle {
    font-size: 18px;
  }
}
.main__title {
  margin: 0px 0px 30px 0px;
  color: #263238;
  font-size: 60px;
  font-weight: 900;
}
@media (max-width: 565px) {
  .main__title {
    font-size: 43px;
  }
}
.main__text {
  line-height: 1.4;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 565px) {
  .main__text {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 800px) {
  .main__button {
    margin: 20px 0px 0px 0px;
  }
}
.main__image {
  margin: 0px 0px 0px 20px;
}
@media (max-width: 800px) {
  .main__image {
    margin: 0px;
  }
}
.main__image img {
  max-width: 100%;
}

.chart {
  padding: 60px 0;
  background-color: #f8f7f7;
}
.chart_gray {
  background-color: #ececec;
}
@media (max-width: 768px) {
  .chart {
    padding: 40px 0;
  }
}

.nav-tab-chart {
  display: flex;
  align-items: center;
  border-bottom: 4px solid #f8f7f7;
}
.nav-tab-chart__link {
  margin-bottom: -4px;
  padding: 16px;
  flex: 0 1 50%;
  font-size: 18px;
  border: 4px solid transparent;
}
.nav-tab-chart__link.active {
  font-size: 20px;
  font-weight: 600;
  border-color: #f8f7f7 #f8f7f7 #ececec;
}
.nav-tab-chart__body {
  border-left: 4px solid #f8f7f7;
  border-right: 4px solid #f8f7f7;
  border-bottom: 4px solid #f8f7f7;
}
.nav-tab-chart__body_white {
  border-color: #ececec;
}
.nav-tab-chart_white {
  border-bottom: 4px solid #ececec;
}
.nav-tab-chart_white .nav-tab-chart__link.active {
  border-color: #ececec #ececec #f8f7f7;
}

@media (max-width: 650px) {
  .chart-wrapper {
    overflow-x: auto;
  }
}
.chart-wrapper__body {
  min-width: 600px;
}

.indicators {
  padding: 60px 0 60px;
  background-color: #ececec;
}
@media (max-width: 768px) {
  .indicators {
    padding: 40px 0;
  }
}
.indicators__body {
  display: flex;
}
@media (max-width: 1150px) {
  .indicators__body {
    display: block;
  }
}
.indicators__column {
  display: flex;
  align-items: center;
}
@media (max-width: 1150px) {
  .indicators__column {
    margin: 0 auto;
    padding: 0 0 40px;
  }
}
@media (max-width: 768px) {
  .indicators__column {
    padding: 0 0 20px;
  }
}
.indicators__column_left {
  flex: 0 1 31%;
  justify-content: flex-start;
}
@media (max-width: 1150px) {
  .indicators__column_left {
    width: 400px;
  }
}
@media (max-width: 565px) {
  .indicators__column_left {
    width: 235px;
  }
}
.indicators__column_center {
  flex: 0 1 38%;
  justify-content: center;
  border-right: 4px solid #f8f7f7;
  border-left: 4px solid #f8f7f7;
}
@media (max-width: 1150px) {
  .indicators__column_center {
    border: none;
    width: 400px;
    justify-content: flex-start;
  }
}
@media (max-width: 565px) {
  .indicators__column_center {
    width: 235px;
  }
}
.indicators__column_right {
  flex: 0 1 31%;
  justify-content: flex-end;
}
@media (max-width: 1150px) {
  .indicators__column_right {
    width: 400px;
    justify-content: flex-start;
  }
}
@media (max-width: 565px) {
  .indicators__column_right {
    width: 235px;
  }
}
.indicators__icon {
  margin: 0px 20px 0px 0px;
  width: 130px;
  height: 130px;
}
@media (max-width: 565px) {
  .indicators__icon {
    width: 88px;
    height: 88px;
  }
}
.indicators__icon img {
  max-width: 100%;
}
.indicators__info {
  text-align: center;
}
@media (max-width: 1150px) {
  .indicators__info {
    text-align: left;
  }
}
.indicators__number {
  font-size: 80px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .indicators__number {
    font-size: 40px;
  }
}
.indicators__text {
  font-size: 22px;
  color: #263238;
}
@media (max-width: 565px) {
  .indicators__text {
    font-size: 14px;
  }
}

.form {
  background-color: #ececec;
  padding: 60px 0px;
}
@media (max-width: 768px) {
  .form {
    padding: 40px 0;
  }
}
.form__container {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(180, 180, 180, 0.79);
}
@media (max-width: 565px) {
  .form__container {
    padding: 20px;
  }
}
.form__title {
  margin: 0px 0px 30px 0px;
  text-align: center;
  color: #263238;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .form__title {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }
}
.form__line {
  margin: 0px 0px 15px 0px;
}
.form__line:last-child {
  margin: 0px 0px 30px 0px;
}
.form__text-error {
  display: none;
  margin: 3px 0px 0px 0px;
  font-size: 10px;
  color: red;
}
.form__input {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 54px;
  color: #8692A6;
  background-color: transparent;
  border: 1px solid #8692A6;
  transition: all 0.3s ease 0s;
}
.form__input:focus {
  border-color: #000;
}
.form__input._error {
  box-shadow: 0 0 2px red;
  border-color: rgb(245, 68, 68);
}
.form__link {
  margin: 0px 0px 0px 10px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: #8692A6;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label:after {
  transform: rotate(-50deg) scale(1);
}
.checkbox__input._error + .checkbox__label:before {
  box-shadow: 0 0 2px red;
  border-color: rgb(245, 68, 68);
}
.checkbox__label {
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: #8692A6;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox__label:before {
  margin: 0px 10px 0px 0px;
  content: "";
  align-self: flex-start;
  flex: 0 0 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #8692A6;
}
.checkbox__label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 10px;
  height: 7px;
  border-left: 3px solid #8692A6;
  border-bottom: 3px solid #8692A6;
  transform: rotate(-50deg) scale(0);
  transition: all 0.3s ease 0s;
}

.form__line._error .form__checkbox-label {
  box-shadow: 0 0 2px red;
  border-color: rgb(245, 68, 68);
}

.form__line._error > .form__text-error {
  display: block;
}

.footer {
  background-color: #ececec;
  padding: 20px 0px;
  border-top: 1px solid #CCCCCC;
}

.tooltip.show {
  opacity: 1;
}

.tooltip .tooltip-arrow {
  display: none;
}

.tooltip-inner {
  max-width: 300px;
  padding: 10px;
  font-size: 14px;
  color: #434450;
  text-align: left;
  background-color: #ececec;
  box-shadow: 0px 5px 40px rgba(180, 180, 180, 0.79);
}

/*# sourceMappingURL=style.css.map */
